@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

*{
    font-family:'Ubuntu',sans-serif;
    margin:0;
    padding:0;
}

.container
{
    height:100vh;
    display:flex;
}

.sidebar
{
    width:16vw;
    background-color: rgb(174, 173, 173);
    height:100vh;
}

.sidebar nav
{
    padding:45px;
}

.sidebar nav li
{
    font-size:30px;
    padding:10px 0 10px 0;
    list-style:none;
}

.infoContainer
{
    margin:auto;
    margin-top:100px;
    background-color: aquamarine;
    width:70vw;
    display:flex;
    justify-content:space-around;
    height:60vh;
}

.main
{
    width:84vw;
    background-color:yellow;
}

.devInfo{
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.hello
{
    font-size:65px;
    margin-left:5px;
    font-family: 'Source Code Pro', monospace;
}

.name
{
    font-weight:bold;
    font-size:50px;
    margin-left:7px;
}

.about
{
    font-size: 20px;
    margin-top:5px;
    margin-left:9px;
    font-family: 'Source Code Pro', monospace;
}

.buttons button
{
    width: 100px;
    height:25px;
    margin-top:7px;
    margin-left:10px;
    border:none;
    border-radius: 5px;
    background-color: rgb(232, 115, 115);
}

button:hover{
    font-size: 15px;
    background-color:white;
}

.devPic img
{
    height:60vh;
}